<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33114840906-gcqouov5ka1apa3hmucvnuqe5q19aqqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33114840906-gcqouov5ka1apa3hmucvnuqe5q19aqqn</string>
	<key>API_KEY</key>
	<string>AIzaSyBDvwHCZIUeSNfd41MYnX3QT_KJZAdI_Zk</string>
	<key>GCM_SENDER_ID</key>
	<string>33114840906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.t1ncho.PuntoTruco</string>
	<key>PROJECT_ID</key>
	<string>puntotruco</string>
	<key>STORAGE_BUCKET</key>
	<string>puntotruco.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33114840906:ios:a8c9c5adc21b915f</string>
	<key>DATABASE_URL</key>
	<string>https://puntotruco.firebaseio.com</string>
</dict>
</plist>